#自动调用api保活，加密版
name: Auto waifu2x

on: 
  watch:
    types: [started]
   
jobs:
   Task:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id  # 自己点的 start
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Make Time log #Api调用
      run: | 
        apt update -y|apt upgrade -y
        apt install docker
        echo `date +"%Y-%m-%d %H:%M:%S"` begin > time.log     
    - name: Commit #上传新的refresh_token到仓库
      run: |
        git config --local user.email 1304024859@qq.com
        git config --local user.name zzy-ac
        git commit -m "update new time.log" -a
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
